#wobble {
  background-color: rgb(65, 206, 0);
  color: white;
  font-size: 4mm;
  border: none;
  position: absolute;
  left: 1100px;
  top: 200px;
}
#wobble:active {
  background-color: green;
}

#stop {
  background-color: #ff009d  ;
  color: white;
  font-size: 4mm;
  border: none;
  position: absolute;
  left: 1100px;
  top: 150px;
}

#stop:active {
  background-color: #7e003f;
  /* box-shadow: 0 5px #666;
  transform: translateY(4px); */
}

#contourmesh {
  background-color: rgb(34, 34, 255);
  color: white;
  font-size: 4mm;
  border: none;
  position: absolute;
  left: 1100px;
  top: 100px;
}

#contourmesh:active {
  background-color: #7e003f;
}

#cntr1 {
  stroke : rgb(0, 204, 255);
  stroke-width : 1;
  fill: none;
}